.DS_Store
target/
project/target/
.classpath
.project
.cache
.settings
.history
*~
*.swp
experiments/NDc/report*
experiments/compressor/slice*
*.aux
*.nav
*.out
*.snm
*.toc
*.pdf
*.lst
vsc/Experiments/compression/slice.*
*.log
*.bbl
*.blg
*.synctex.gz
