.DS_Store
target/
project/target/
.classpath
.project
.cache
.idea
*.iml
.settings
.history
*~
*.swp
experiments/NDc/report*
experiments/compressor/slice*
*.aux
*.nav
*.out
*.snm
*.toc
*.lst
*.log
*.bbl
*.blg
*private*
*.synctex.gz
/.scala_dependencies
examples/proofs/VeriT/bad

# Common files generated during first building
examples/proofs/VeriT/eq_diamond9-(D-RPI-LU).smt2
examples/proofs/VeriT/eq_diamond9-RP.smt2
skeptik.jar
